{% extends "base.html" %}
{% block content %}
<style>
.main_page{
color: black
}

body{
	background:  white url(http://2.bp.blogspot.com/-A0qEjAFRDc0/Th4DuvgTIfI/AAAAAAAAHe0/RwRpEBBVPqE/s1600/natural%2Bwallpapers_6.jpg) no-repeat 40px 100px;
	background-size: 1400px 650px;
	}

h3{
text-align:center;
position:relative;
top:180px;
font-size: 40px;
}
p{
text-align:center;
position:relative;
top:180px;
font-size:30px;
}
</style>
<div class="main_page">
<div class="main_page">
	<h3>Welcome to ConnexUs</h3>
	<p >Share the world!</p>
</div>
{% endblock %}
